:root{
  --primary-color: #0277bd;
  --primary-color-light: #58a5f0;
  --primary-color-dark: #004c8c;
  --primary-text-color: #fff;
  --secondary-color: #c62828;
  --secondary-color-light: #ff5f52;
  --secondary-color-dark: #8e0000;
  --text-color: #333;
  --text-color-light: #444;
  --background-color: #fff;
  --shadow-color: #ccc;
  --shadow-color-dark: #999;
  --shadow-color-active: #333;
}
html,body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--background-color);
  height: 100%;
}
header{
  display: flex;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 6rem;
  background-color: var(--background-color);
  height: 4rem;
}
h1{
  color: var(--text-color-light);
  margin: 0;
  box-sizing: border-box;
  flex-grow: 1;
  font-weight: normal;
  font-size: 2rem;
}
button{
  border: solid 1px var(--shadow-color);
  padding: .5rem 2rem;
  box-shadow: 2px 4px 8px var(--shadow-color);
  font-size: .81rem;
  cursor: pointer;
}
button:active{
  box-shadow: inset 1px 2px 4px var(--shadow-color-active);
}
button:hover{
  box-shadow: 1px 2px 4px var(--shadow-color-dark);
}

.controls{
  height: 100%;
  margin: 0;
}
.controls button{
  display: inline-block;
  height: 100%;
  border: none;
  background-color: var(--background-color);
  border-right: solid 1px var(--shadow-color);
  margin: 0;
  padding: .5rem 1rem;
  font-size: .8rem;
  box-shadow: none;
}
.controls button:hover{
  text-decoration: underline;
}
.controls button:active{
  color: var(--primary-color-light);
}
.controls button:last-child{
  border-right: none;
}

.histories{
  list-style: none;
  padding: 0;
  display: table;
}
.histories li{
  display: table-row;
  line-height: 1.5;
}
.histories li:nth-child(odd){
  background-color: #f0f0f0;
}
.histories span{
  display: table-cell;
  vertical-align: middle;
  padding: .5rem 1rem;  
}
.histories li.header{
  background-color: #ccc;
}
.histories .header span{  
  text-align: center;
  white-space: nowrap;
}
.histories .stats{
  text-align: right;
}

.dialog{
  display: flex;
  align-items: center;  
  box-sizing: border-box;
  box-shadow: 2px 4px 8px var(--shadow-color);
}
.dialog .message{
  padding: 0 1rem;
  display: block;
  flex-grow: 1;
}
.dialog button{
  display: block;
  border: none;
  background-color: var(--primary-color);
  color: var(--background-color);
  height: 100%;  
  padding: 1rem;
  box-sizing: border-box;
}

.spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;     
}
.spinner > div {
  background-color: var(--primary-color);
  height: 5rem;
  width: 1rem;
  margin: .1rem;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

/* predicates */
.primary{
  color: var(--background-color);
  background-color: var(--primary-color);
}
.hidden{
  display: none;
}

#app{
  height: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
}


@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


/*
html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: 16px;
}
button{
  font-size: 12px;
  padding: .5rem 2rem;
  display: inline-block;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  border: solid 1px var(--primary-color-dark);
  border-radius: 2px;
  box-shadow: 1px 1px 1px var(--shadow-color);
}
button:hover{
  background-color: var(--primary-color-light);
  border-color: var(--primary-color-light);
  box-shadow: 1px 1px 1px var(--primary-color-dark);
}
header{
  display: flex;
  align-items: center;
  margin: 2.5rem 0 4rem 0;
  padding: 0 1rem;  
}
header h1{
  font-weight: normal;
  flex-grow: 1;
}
header button{
  margin-right: 1rem;
}
.material-icons{
  font-size: 150%;
  vertical-align: bottom;
  margin-right: .25rem;
}
.signin{
  display: flex;
  justify-content: center;
  align-items: center;   
  width: 100%;
  height: 100%;
}
.signin button{
  font-size: 16px;
  padding: .75rem 4rem;
}
.container{
  display: flex;
}
.container .settings{
  min-width: 16rem;
  margin-left: 1.5rem;
  padding: 0 1.5rem;
  border-left: dotted 1px #ccc;
  box-shadow: 1px 1px 1px #ccc;
  animation: show 1s linear 0s;  
}
.settings div{
  margin-bottom: 2rem;
}
.settings h3{
  font-size: 100%;
  margin-bottom: 0;
}
.settings input[type=text]{
  font-size: 16px;
  display: block;
  width: 100%;
}

.histories{
  margin-top: 0;
  padding: 0;  
  list-style: none;
  flex-grow: 1;
  box-shadow: 1px 1px 1px var(--shadow-color);
}
.histories li{
  padding: 1rem 2rem;
  display: flex;
}
.histories li:nth-child(even){
  background-color: #f0f9ff;
}
.histories span{
  box-sizing: border-box;
  display: inline-block;    
} 
.histories span:first-child{
  width: 20%;
}
.histories span:nth-child(2){
  flex-grow: 1;
  max-width: 70%;
}
.histories span:last-child{
  text-align: right;
  width: 10%;
}
.histories .header{
  color: white;
  font-weight: bold;
  background-color: var(--primary-color);
}

#app{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 2rem;
}


*/